[submodule "armadura-flexion/shared"]
	path = armadura-flexion/shared
	url = https://github.com/Gauss137/csw-shared-components.git
[submodule "balasto-calculator/shared"]
	path = balasto-calculator/shared
	url = https://github.com/Gauss137/csw-shared-components.git
